
#profile{
    font-style: italic;
    height: 50vh;
    background: url('https://images.pexels.com/photos/3778876/pexels-photo-3778876.jpeg');
    background-size: cover;
    background-position: center;
}
#profile:hover{
    transition: all 1s;
    transform: scale(1.1);
}
#profile::after{
    content:"";
    display: flexbox;
    background: green;
}