*{
    box-sizing: border-box;
    /* border: 2px solid rgb(128, 0, 23);  */
}
.Profile{
    background-color: rgb(25, 35, 85);
    position: relative;
}
.Navbars{
     text-align: center;
     position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
}

 .bars{
     background-color: aqua;
     
 }
 .navLinks{
    list-style: none;
    display: flex;
    justify-content: flex-end;
     align-items: flex-end;
    gap:20px;
    width:75%;

}
.navLinks-mobile{
    display: flex;
     list-style: none;
     gap:20px;
     justify-content: flex-end;
     align-items: flex-end;
     width:75%;
}
.brand{
font-weight: bold;
 color: blueviolet;
}

 #menuicons{
     display: none;
 }
 .skills,
 .Contacts,
 .project{
      color: rgb(138, 33, 142);
       font-weight: bold;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width:105px;

 }


 @media screen and (max-width:700px) {
    .navLinks{
         display: none;
    }
     
    .navLinks-mobile{
        display: flex;
         flex-direction: column;
         list-style: none;
         position: absolute;
         justify-content:flex-start;
         background-color: transparent;
         align-items: flex-start;
         width:50%;
         top:100px;
    }

    #menuicons{
        display: block;
        color:antiquewhite;

    }
 }